<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Navigation Bar</title>
  </head>
  <body>
    <div style="margin-right: 50px" th:fragment="navigation-bar">

      <h3>Users</h3>
      <ul>
        <li><a th:href="@{/}">Show all Books</a></li>
        <li><a th:href="@{/borrow}">Borrow Book</a></li>
        <li><a th:href="@{/returnAllBooks}">Return all Books</a></li>
      </ul>

      <h3>Administrators</h3>
      <ul>
        <li><a th:href="@{/insertBooks}">Add a new book</a></li>
      </ul>
    </div>
  </body>
</html>
